.titulo {
    text-align: center;
    color: #fff;
    font-size: 30px;
}

#botao-troca{
    margin-top: 36px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;

    border-radius: 50%;
    border: transparent;
    background-color: transparent;
    background-image: url(Imagens/arrow-left-right-fill.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}

#saida{
    font-size: 20px;
    font-weight: 600;
}
.destaque-cor{
    color: #009cde; 
    font-weight: bold; 
}

.canvas-container{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}

#myChart{
    border-radius: 10px; 
}

header {
    top: 0px;
    position: fixed;
    display: grid;
    grid-template-columns: auto;
    min-width: 100%;
    width: 100%;
    height: 150px;
    z-index: 1;
    color: #E3C278;
    text-shadow: 2px 2px 4px #E3C278;
}

.h1{
    min-height: 100px;
    width: 100%;
    min-width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #1d2936;
    align-content: center;
    font-family: Impact;
}

.h2{
    min-height: 50px;
    width: 100%;
    min-width: 100%;
    height: 50px;
    background-color: #009cde;
    align-content: center;

}

.h2 > button{

    background-color: #009cde;
    border: none;
    margin-left: 25px;
    border-radius: 32px;

}

.h2 > button:hover{

    border: #1d2936 solid;
    border-width: 3px;
}

#logo{

    background-image: url("Imagens/logo.png");
    background-size: cover;
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
    position: relative;
    left: 50px;

}

body {
    position: relative;
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center;
    justify-content: flex-start; /* Alinha os elementos no topo */
    height: auto; /* Permite que o conteúdo ultrapasse a altura da janela */
    font-family: Arial, sans-serif;
    background-color: #1d2936;
    margin: 0;
    padding: 0;
    color: #0E141B;
}

div[class=container] {
    display: flex;
    flex-direction: column;
    background-color: #4A5A6A;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 32px;
    margin-top: 250px;

}

div[class=valores] {
    
    display: flex;
    justify-content: space-evenly;
}

div[class=conversor] {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-evenly;
}

div[class=input-grupo] {
    max-width: min-content;
}

div[class=input] {
    display: flex;
    border-radius: 6px;
    border: 3px solid #1A73E8;
    background-color: #ffffff;
    margin-top: 10px;
    background-color: #4A5A6A;
}

input, select {
    background: none;
    border: 0;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 8px;
}

select:hover{
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

#borderless {
    border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

#bandeira1, #bandeira2 {
        width: 45px;
        height: 30px;
        margin-top: 8px;
        border-width: 1px;
}

label {
    font-size: 1.4rem;
}

p {
    font-size: 1.6rem;
    
}

div[class=canvas-container] {
    display: inline-grid;
    grid-template-columns: auto;
    flex-direction: column;
    background-color: #4A5A6A;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 200px;
    margin-bottom: 30px;

}

div[class=periodo] {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    
    
}

div[class=datas] {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 68%;
    align-content: center;
}

.Periodo{
    background-color: #009cde;
    border: 0;
    position: relative;
    max-width: 100px;
    left: 90px;
    
}
