.titulo {
    text-align: center;
    color: #fff;
    font-size: 30px;
}

#botao-troca{
    margin-top: 22px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

#saida{
    font-size: 20px;
    font-weight: 600;
}
.destaque-cor{
    color: #33ff00; 
    font-weight: bold; 
}

header {
    top: 100px;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #FF7833;
    padding: 10px;
    border-radius: 10px;
}

body{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #121C1C;
    margin: 0;
    padding: 0;
}

div[class=container] {
    background-color: #ffffff;
    width: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

div[class=valores] {
    display: flex;
    justify-content: space-evenly;
}

div[class=conversor] {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-evenly;
}

div[class=input-grupo] {
    max-width: min-content;
}

div[class=input] {
    display: flex;
    border-radius: 6px;
    border: 3px solid #128A5A;
    background-color: #03ba0f;
    margin-top: 10px;
}

input, select {
    background: none;
    border: 0;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 8px;
}

select:hover{
    cursor: pointer;
}

button {
    border-radius: 50%;
    border: transparent;
    background-color: transparent;
    background-image: url(Imagens/arrow-left-right-fill.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}

button:hover {
    cursor: pointer;
}

#borderless {
    border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

#bandeira1, #bandeira2 {
        width: 45px;
        height: 30px;
        margin-top: 8px;
}

label {
    font-size: 1.4rem;
}

p {
    font-size: 1.6rem;
    
}